::-webkit-scrollbar {
    background: #EDEAFD;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #CED4DA;
    border-radius: 10px;
  }

::-webkit-overflow-scrolling{
    touch-action: auto;
}

img{
    -webkit-user-drag: none;
}