@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .classPink {
    @apply space-y-3;
  }
  .absoluteNave {
    position: absolute;
    background-color: aliceblue;
    height: 14rem;
    top: 3rem;
    width: 100vw;
    right: -16px;
  }
}