@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-blue-white-gradient {
    background-image: linear-gradient(#4529e6 12rem, #f1f3f5 12rem 100%);
  }

  ::-webkit-scrollbar {
    background: #edeafd;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ced4da;
    border-radius: 10px;
  }

  .bigBackgroundImage {
    background-image: linear-gradient(#4529e6 30rem, #f1f3f5 30rem 100%);
  }

  .littleBackgroundImage {
    background-image: linear-gradient(#4529e6 23rem, #f1f3f5 23rem 100%);
  }

  .classInputRadio {
    display: none;
  }

  .classLabelInputRadioButtonActivate {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    background: #4529e6;
    color: #ffffff;
    border: 1.5px solid #4529e6;
    border-radius: 5px;
    width: 228px;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .classButtonCancelDefault {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    background: #dee2e6;
    color: #495057;
    border: 1.5px solid #dee2e6;
    border-radius: 4px;
    width: 126px;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .classLabelInputRadioButtonDesactivate {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    background: #ffffff;
    color: #0b0d0d;
    border: 1px solid #cdccce;
    border-radius: 5px;
    width: 228px;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .inputDefaultModal {
    border: 1.5px solid #868e96;
    border-radius: 4px;
    padding-left: 0.5rem;

    height: 48px;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
  }

  .inputDefaultModal:hover {
    border: 1.5px solid #5126ea;
  }

  .inputDefaultModal:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .textAreaDefaultModal {
    padding: 0.5rem;

    border: 1.5px solid #868e96;
    border-radius: 4px;

    outline: none;
    resize: none;
  }

  .textAreaDefaultModal:hover {
    border: 1.5px solid #5126ea;
  }

  .textAreaDefaultModal:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .limit-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
